/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
@media (min-width: 768px) {
  .footer {
    position: static;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    /* Margin bottom by footer height */
    margin-bottom: 361px;
  }
}

@media (min-width: 991px) {
  body {
    /* Margin bottom by footer height */
    margin-bottom: 381px;
  }
}

@media (min-width: 1200px) {
  body {
    /* Margin bottom by footer height */
    margin-bottom: 361px;
  }
}